
@{
    ViewBag.Title = "建立倉別";
}

<h2>
    建立倉別
</h2>

<form method="post" action="/Inventory/CreatePlace">
    <div>
        <label>倉別編號</label>
        <input type="text" id="PlaceID" name="PlaceID" />
        <label>倉別名稱</label>
        <input type="text" id="PlaceName" name="PlaceName" />
    </div>

    <input class="save-data" type="submit" value="儲存" />
</form>

