@using InventoryManagement3.Models;
@{
    List<Stock> stock_list = ViewBag.stock_list;
}
@{
    ViewBag.Title = "庫存明細";
}

<h2>庫存明細</h2>

<div class="fixTableHeadStock">
    <table>
        <thead>
            <tr class="table-header">
                <th>倉別編號</th>
                <th>零件編號</th>
                <th>零件名稱</th>
                <th>庫存數量</th>


            </tr>
        </thead>
        <tbody>
            @foreach (Stock stock in stock_list)
            {
                <tr>
                    <td>@stock.PlaceID</td>
                    <td>@stock.PartID</td>
                    <td>@stock.PartName</td>
                    <td>@stock.Qty</td>

                </tr>
            }


        </tbody>
    </table>
</div>